/* Animation tự chế  */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Container chính */
.category-container {
    
    height: 300px;
    background-color: white;
    margin-top: 30px;
    width: 100%;
    
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    padding: 30px 45px;
     overflow: hidden;
     
    
}

.arrow-btn {
    width: 30px;
    height: 34px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}
.arrow-btn:hover {
    background-color: var(--subColor);

}


/* Tiêu đề */


.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}




.category-title {
    position: relative;
    
}
.category-title h2 {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 80px;
    height: 4px;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 4px) 100%, 0% 100%);
    background-color: var(--subColor, #ff6b6b); 
    
    

}



/* -------  */



/* Danh sách danh mục */
.category-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  

    overflow-x: auto; /* Cho phép cuộn ngang */
    scroll-behavior: smooth; /* Cuộn mượt */
    padding-bottom: 20px; /* Tạo khoảng trống */
    scrollbar-width: none; /* Ẩn thanh cuộn Firefox */
    -ms-overflow-style: none; /* Ẩn thanh cuộn IE/Edge */
}

.category-list::-webkit-scrollbar {
    display: none;
}

/* Mỗi item danh mục */
.category-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 6px;
    
   
    
}
.category-img {
    display: flex;
    /* flex-grow: 1; */
    background-color: #ebeced;
    transition: all 0.3s ease;
    cursor: pointer;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}


.category-img img {
    height: 160px;
    width: 160px;
    padding: 20px;
    object-fit: contain;

}


/* Tên danh mục */
.category-name {
    font-size: 17px;
    color: #333;
    font-weight: 600;
}

/* Số lượng sản phẩm */
.product-count {
    font-size: 0.9rem;
    color: #616161;
    position: relative;
    display: flex;
    white-space: nowrap;
    
}


/* hover  */
.category-img img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* thêm hiệu ứng */
}

.category-item:hover img {
    transform: translateY(-8px); /* đẩy item nổi lên */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* bóng nhẹ để nổi bật */
    
}   



/* Hiển thị "Xem chi tiết" khi hover */
.category-item:hover .product-count::after {
    content: "Xem chi tiết ";
    text-decoration: underline;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
   

    color: var(--hoverColor);
    font-weight: 600;
    animation: fadeIn 0.3s ease;
}

.category-item:hover .product-count {
    color: transparent; /* Ẩn text gốc */
}
